function scoreTag(val) {
  if (val < 60) return 'low';
  if (val < 80) return 'middle';
  return 'high';
}

function scoreTagColor(val) {
  if (val == '中等') return '#F0B20F'
  if (val == '异常') return '#FF6969'
  return "#8BC34A"
}

module.exports = {
  scoreTag: scoreTag,
  scoreTagColor: scoreTagColor
};